/* Animazione login */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.7s ease-out;
}

button:hover {
  box-shadow: 0 0 12px #facc15, 0 0 24px #facc15aa;
  transition: box-shadow 0.2s ease
}